<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-warning modal-icon"></i>
        <h4 class="modal-title">Obriši stavku</h4>      
    </div>
    <div class="modal-body">
        <p><strong>Da li ste sigurni da želite obrisati odabranu stavku?</strong></p>        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Odustani</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Potvrdi</button>
    </div>
</div>
