<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <div align="center"> <img alt="image" class="sidebar-logo"  src="img/logo.png"/></div> 

                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><p ng-bind="authenticatedUser.username"></p></strong><b class="caret"></b>
                            </span>
                            <!--<span class="text-muted text-xs block"><p ng-bind="authenticatedUser.role.authority"></p><b class="caret"></b></span>-->
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="login" ng-click="doLogout()">Odjava</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" class="logo-icon"  src="img/logo-icon.png"/>
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.dashboard"><i class="fa fa-tachometer"></i> <span class="nav-label">Radna ploča</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.sports"><i class="fa fa-group"></i> <span class="nav-label">Sportovi</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.membershipCategory"><i class="fa fa-delicious"></i> <span class="nav-label">Kategorija članstva</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.memberRegister"><i class="fa fa-address-book-o"></i> <span class="nav-label">Matična knjiga članica</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.publicCall"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span class="nav-label">Javni poziv - Sport</span> </a>
            </li>
            <li ng-show="authenticatedUser.role.authority === 'ROLE_ADMIN'" ng-class="{active: $state.includes('evaluation')}">
                <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">Vrednovanje</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('evaluation')}">
                    <li ui-sref-active="active"><a ui-sref="evaluation.termsOfCompetition">Uvjeti natječaja</a></li>
                    <li ui-sref-active="active"><a ui-sref="evaluation.rankingAndCategorizationOfSpors">Vrednovanje sportova</a></li>
                    <li ui-sref-active="active"><a ui-sref="evaluation.categorizationOfSportsPerSportClub">Vrednovanje sportskih udruga</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('evaluationForms')}">
                <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">Vrednovanje obrasci</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('evaluation')}">
                    <li ui-sref-active="active"><a ui-sref="evaluationForms.evaluationSportsClub">Vrednovanje programa sportskog kluba</a></li>
                    <li ui-sref-active="active"><a ui-sref="evaluationForms.evaluationManifestation">Vrednovanje programa organizatora</a></li>
                    <li ui-sref-active="active"><a ui-sref="evaluationForms.evaluationTeamClub">Vrednovanje programa klubova u momčadskim sportovima</a></li>
                    <li ui-sref-active="active"><a ui-sref="evaluationForms.evaluationCoaches">Vrednovanje programa trenera</a></li>

                </ul>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.sportsBuildings"><i class="fa fa-building"></i> <span class="nav-label">Registar sportskih građevina</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.registerOfNonprofitOrganizations"><i class="fa fa-sitemap"></i> <span class="nav-label">Registar neprofitnih organizacija</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.registerOfAssociationsCRO"><i class="fa fa-file-o"></i> <span class="nav-label">Registar udruga Republke Hrvatske</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.nomenklaturaSportovaISportskihGrana"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span class="nav-label">Nomenklatura sportova i sportskih grana</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.location"><i class="fa fa-car" aria-hidden="true"></i> <span class="nav-label">Udaljenost putovanja na gostujuća natjecanja udruge</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.geographicalOverviewOfMemberRegisters"><i class="fa fa-map-marker"></i> <span class="nav-label">Prikaz članica na karti</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.financialResources"><i class="fa fa-map-marker"></i> <span class="nav-label">Sredstva po sportovima</span> </a>
            </li>

        </ul>   

    </div>
</nav>
