<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <div align="center"> <img alt="image" class="sidebar-logo"  src="img/logo.png"/></div> 

                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><p ng-bind="authenticatedUser.username"></p></strong>
                            </span>
                            <span class="text-muted text-xs block"><p ng-bind="authenticatedUser.role.authority"></p><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="login" ng-click="doLogout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" class="logo-icon"  src="img/logo-icon.png"/>
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.dashboard"><i class="fa fa-tachometer"></i> <span class="nav-label">Radna ploča</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.sports"><i class="fa fa-group"></i> <span class="nav-label">Sportovi</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.membershipCategory"><i class="fa fa-delicious"></i> <span class="nav-label">Kategorija članstva</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.memberRegister"><i class="fa fa-address-book-o"></i> <span class="nav-label">Matična knjiga članica</span> </a>
            </li>
            <li ng-class="{active: $state.includes('evaluation')}">
                <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">Vrednovanje</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('evaluation')}">
                    <li ui-sref-active="active"><a ui-sref="evaluation.termsOfCompetition">Uvjeti natječaja</a></li>
                    <li ui-sref-active="active"><a ui-sref="evaluation.rankingAndCategorizationOfSpors">Rangiranje i kategorizacija sportova</a></li>
                    <li ui-sref-active="active"><a ui-sref="evaluation.categorizationOfSportsPerSportClub">Kategorizacija sporta za sportske klubove</a></li>
                </ul>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.sportsBuildings"><i class="fa fa-building"></i> <span class="nav-label">Registar sportskih građevina</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="content.registerOfNonprofitOrganizations"><i class="fa fa-sitemap"></i> <span class="nav-label">Registar neprofitnih organizacija</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.registerOfAssociationsCRO"><i class="fa fa-file-o"></i> <span class="nav-label">Registar udruga Republke Hrvatske</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.nomenklaturaSportovaISportskihGrana"><i class="fa fa-file-o"></i> <span class="nav-label">Nomenklatura sportova i sportskih grana</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="content.geographicalOverviewOfMemberRegisters"><i class="fa fa-map-marker"></i> <span class="nav-label">Prikaz članica na karti</span> </a>
            </li>

        </ul>   

    </div>
</nav>
