<div class="inmodal">
    <div class="modal-header">        
        <i class="fa fa-edit modal-icon" ng-show="crudAction === 'EDIT'"></i>
        <i class="fa fa-plus-square modal-icon" ng-show="crudAction === 'CREATE'"></i>                
        <p class="modal-title" ng-show="crudAction === 'EDIT'">Izmjena podataka</p>
        <p class="modal-title" ng-show="crudAction === 'CREATE'">Novi unos</p>
    </div>
    <div class="modal-body">
        <div class="ibox float-e-margins">
            <div class="ibox-content">               
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationAccordingToNumberOfRegisteredClubsInNationalFederation">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationByTypeOfSport">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationAccordingToAgeCategories">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationAccordingToRankOfCompetitionSystem">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                           <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationAccordingToNumberOfTeamMembersCompeting">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                           <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationAccordingToMassInSportsSchools">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                           <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationAccordingToProfessionalStaff">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                           <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in categorizationAccordingToTraditionOfTownZadar">
                                    <div class="panel-heading">
                                        {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="panel panel-default" ng-repeat="evaluationQuestion in cofficiencyOfSportsCategory">
                                    <div class="panel-heading">
                                       {{evaluationQuestion.questionDef.label}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                           <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Ukupni bodovi :</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <span class="badge badge-info">  <h3>Bodovi : {{categorizationSum}}</h3></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Spremi promjene</button>
    </div>
</div>