<toaster-container></toaster-container>

<!-- Page breadcrumb -->    
<div ng-include="'views/common/breadcrumb.html'"></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="categorizationOfSportsPerSportClubController">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Klub</th>
                                <td><strong>Kategorizacija prema broju rangiranih klubova u </strong> <br><br> nacionalnom savezu</td>
                                <td><strong>Kategorizacija prema vrsti športa </strong></td>
                                <td><strong>Kategorizacija prema zastupljenosti dobnih kategorija</strong></td>
                                <td><strong>Kategorizacija prema rangu sustava natjecanja</strong></td>
                                <td><strong>Kategorizacija prema broju članova ekipe koja se natječe</strong></td>
                                <td><strong>Kategorizacija prema masovnosti u športskim školama</strong></td>
                                <td><strong>Kategorizacija prema stručnim kadrovima</strong></td>
                                <td><strong>Kategorizacija prema tradiciji Udruge u Gradu Zadru</strong></td>
                                <td><strong>Koeficijnt kategorije sporta</strong></td>
                                <td><strong>Ispunjeno</strong></td>
                                <td><strong>UKUPNI BODOVI</strong></td>
                                <th>promjeni/izbriši</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="categorizationOfSportsPerSport in categorizationOfSportsPerSports">
                                <td>{{categorizationOfSportsPerSport.id}}</td>
                                <td>{{categorizationOfSportsPerSport.name}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationOnNationalFederationLevel}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationOnSportTypeLevel}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationAccordingToAge}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationOnCompetitionSystemLevel}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationBasedOnNumberOfTeamMembersCompeting}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationAccordingToMassInSportsSchools}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationAccordingToProfessionalStaff}}</td>
                                <td>{{categorizationOfSportsPerSport.categorizationAccordingToTraditionOfTownZadar}}</td>
                                <td>{{categorizationOfSportsPerSport.cofficiencyOfSportsCategory}}</td>
                                <td>{{categorizationOfSportsPerSport.questionnairePercentage}}%</td>
                                <td>{{categorizationOfSportsPerSport.totalPoints}}</td>
                                <td class="edit-column">
                                    <button type="button" class="btn btn-primary " ng-click="editData(categorizationOfSportsPerSport.id)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" class="btn btn-danger " ng-click="deleteData(categorizationOfSportsPerSport.id)"><i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
