<!-- Page breadcrumb -->    
<div ng-include="'views/common/breadcrumb.html'"></div>

<div class="wrapper wrapper-content" ng-controller="dashboardController">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Sportovi</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{dashboardData.numberOfSports}}</h1>
                    <small>Broj sportova u gradu Zadru</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Klubovi</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{dashboardData.numberOfMemberRegisters}}</h1>
                    <small>Broj klubova u gradu Zadru</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Sportske građevine</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{numberOfSportBuildings}}</h1>
                    <small>Broj sportskih građevina u gradu Zadru</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Kategorija članstva</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{dashboardData.numberOfMembershipCategories}}</h1>
                    <small>Broj kategorija članica</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Rangiranje i kategorizacija sportova</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div ng-controller="dashboardController as chart">
                                <canvas barchart options="chart.myChartOptions" data="chart.rankingData" height="400" responsive=true></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Kategorizacija sporta za sportske klubove</h5>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div ng-controller="dashboardController as chart">
                                <canvas barchart options="chart.myChartOptions" data="chart.categorizationData" responsive=true></canvas></div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h3 class="no-margins">I. Kategorija</h3>
                                    <small>Od 310 do 500 bodova</small>
                                    <div class="stat-percent">{{dashboardData.groupsOfCategorization.numberOfMembersFirstCategory}}% </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{dashboardData.groupsOfCategorization.numberOfMembersFirstCategory}}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="no-margins ">II. kategorija</h3>
                                    <small>Od 210 do 300 bodova</small>
                                    <div class="stat-percent">{{dashboardData.groupsOfCategorization.numberOfMembersSecondCategory}}% </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{dashboardData.groupsOfCategorization.numberOfMembersSecondCategory}}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="no-margins ">III. kategorija</h3>
                                    <small>Od 110 do 200 bodova</small>
                                    <div class="stat-percent">{{dashboardData.groupsOfCategorization.numberOfMembersThirdCategory}}% </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{dashboardData.groupsOfCategorization.numberOfMembersThirdCategory}}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h3 class="no-margins ">IV. kategorija</h3>
                                    <small>Do 100 bodova</small>
                                    <div class="stat-percent">{{dashboardData.groupsOfCategorization.numberOfMembersFourthCategory}}% </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{dashboardData.groupsOfCategorization.numberOfMembersFourthCategory}}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Grafički prikaz uvjeta natječaja</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-3" ng-controller="dashboardController as chart">
                            <canvas doughnutchart options="chart.doughnutOptions" data="chart.doughnutData" responsive=true></canvas>
                        </div>
                        <div class="col-lg-4">
                            <h4><i style="color: #a3e1d4;" class="fa fa-square" aria-hidden="true"></i>   Zadovoljili uvjete</h4>
                            <h4><i style="color: #fb8692;" class="fa fa-square" aria-hidden="true"></i>   Nisu zadovoljili uvjete</h4>
                            <h4><i style="color: #dedede;" class="fa fa-square" aria-hidden="true"></i>   Upitnik nije ispunjen</h4>
                        </div>
                        <div class="col-lg-5">
                            <div ng-app="myapp" ng-controller="WeatherCtrl">
                                <h2>Vrijeme u Gradu Zadru</h2>
                                <weather-icon cloudiness="{{ weather.clouds}}"></weather-icon>
                                <h3>Trenutačno {{ weather.temp.current | temp:2 }}</h3>
                                min: {{ weather.temp.min | temp }}, max: {{ weather.temp.max | temp }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
