<!-- Page breadcrumb -->    
<div ng-include="'views/common/breadcrumb.html'"></div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div align="center" class="col-lg-12">
            <div class="ibox" id="ibox">


                <div class="ibox-content" id="ibox">

                    <form role="form" class="form-inline" style="margin-bottom:30px;">
                        <div class="form-group">
                            <input id="from-input" class="form-control" type="text" placeholder="Upišite lokaciju Od">
                        </div>
                        <i class="fa fa-exchange fa-lg" aria-hidden="true"></i>
                        <div class="form-group">
                            <input id="to-input" class="form-control" type="text" placeholder="Upišite lokaciju Do">
                        </div>

                        <input id="btnclick" class="btn btn-primary" onclick="Demo.getDirections();" type=button value="Prikaži!"/>
                    </form>


                    <form id="location" class="form-inline" style="margin-bottom:30px;">

                        <div class="form-group">
                            <select id="vrste-vozila" class="form-control" name="account">
                                <option value="" selected="">Izaberite vozilo</option>
                                <option value="2">Osobno vozilo</option>
                                <option value="2.50">Kombi - vlastito</option>
                                <option value="3.50">Kombi - vanjsko</option>
                                <option value="3.50">Autobus - standard</option>
                                <option value="8.30">Autobus/Vanjska usluga - AUTOBUS 57</option>
                                <option value="7.90">Autobus/Vanjska usluga - AUTOBUS 49</option>
                                <option value="6.20">Autobus/Vanjska usluga - BUS 26</option>
                                <option value="5.80">Autobus/Vanjska usluga - MINIBUS 19</option>
                                <option value="1">Prijevoz opreme</option>
                            </select>


                        </div>

                        <div class="form-group">

                            <input id="kilometers" class="form-control" type="text" >
                        </div>

                        <input id="count" class="btn btn-primary" type=button value="Izračunaj"/>




                    </form>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6" id="dir-container" ></div>
                            <div class="col-lg-6" id="map-container" ></div>

                        </div>

                    </div>



                </div>


            </div>

        </div>

    </div>

</div>

<script type="text/javascript">


    var Demo = {
        // HTML Nodes
        mapContainer: document.getElementById('map-container'),
        dirContainer: document.getElementById('dir-container'),
        fromInput: document.getElementById('from-input'),
        toInput: document.getElementById('to-input'),
        travelModeInput: document.getElementById('travel-mode-input'),
        unitInput: document.getElementById('unit-input'),
        // API Objects
        dirService: new google.maps.DirectionsService(),
        dirRenderer: new google.maps.DirectionsRenderer(),
        map: null,
        showDirections: function (dirResult, dirStatus) {
            if (dirStatus != google.maps.DirectionsStatus.OK) {
                alert('Unjeli ste pogrešno lokaciju');
                return;
            }

            // Show directions
            Demo.dirRenderer.setMap(Demo.map);
            Demo.dirRenderer.setPanel(Demo.dirContainer);
            Demo.dirRenderer.setDirections(dirResult);
        },
        getDirections: function () {
            var fromStr = Demo.fromInput.value;
            var toStr = Demo.toInput.value;
            var dirRequest = {
                origin: fromStr,
                destination: toStr,
                travelMode: google.maps.DirectionsTravelMode.DRIVING,
                unitSystem: google.maps.DirectionsUnitSystem.METRIC,
                provideRouteAlternatives: true
            };
            Demo.dirService.route(dirRequest, Demo.showDirections);

        },
        init: function () {
            var latLng = new google.maps.LatLng(45.327555, 14.437388);
            Demo.map = new google.maps.Map(Demo.mapContainer, {
                zoom: 13,
                center: latLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // Show directions onload
            Demo.getDirections();
        }
    };



    // Onload handler to fire off the app.
    google.maps.event.addDomListener(btnclick, 'click', Demo.init);




    $(document).ready(function () {

        $('#location').hide();

        $('#kombi').hide();

        $('#autobus').hide();

        $('#autoVanjskaUsluga').hide();
    });


    $("#btnclick").click(function () {

        $('#location').show();

        $('#kilometers').val('');



    });
    
    $('#vrste-vozila').change(function () {
        
        $('#kilometers').val('');
        
        
    });
    
    



    $('#count').click(function () {

        var str = $('.adp-summary span').first().html();
        var spaceChar = str.indexOf(" ");

        var value = str.substring(0, spaceChar);


        var value2 = $('#vrste-vozila').val();


        var total = (value * value2).toFixed(2);

        $('#kilometers').val(total + 'KN');

    });






</script>
