<div class="inmodal">
    <div class="modal-header">        
        <i class="fa fa-edit modal-icon" ng-show="crudAction === 'EDIT'"></i>
        <i class="fa fa-plus-square modal-icon" ng-show="crudAction === 'CREATE'"></i>                
        <p class="modal-title" ng-show="crudAction === 'EDIT'">Izmjena podataka</p>
        <p class="modal-title" ng-show="crudAction === 'CREATE'">Novi unos</p>
    </div>
    <form name="membershipCategory">
        <div class="modal-body">

            <div class="form-group valid">
                <label>Naziv</label> <input type="text" name="description" ng-required="true" ng-minlength="1" ng-maxlength="100" placeholder="Upišite naziv" class="form-control" ng-model="data.description">
                <div class="validation-msg" ng-messages="membershipCategory.description.$error">            
                    <p ng-message="required">*Naziv je obavezno polje</p>
                    <p ng-message="minlength">*Minimalna duljina naziva je 1.</p>
                    <p ng-message="maxlength">*Maksimalna duljina naziva je 100.</p>
                </div>
            </div>






        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-disabled="membershipCategory.$invalid" ng-click="cancel()">Zatvori</button>
            <button type="button" class="btn btn-primary" ng-disabled="membershipCategory.$invalid" ng-click="ok()">Spremi promjene</button>
        </div>
    </form>
</div>

