<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-edit modal-icon" ng-show="crudAction === 'EDIT'"></i>
        <i class="fa fa-plus-square modal-icon" ng-show="crudAction === 'CREATE'"></i>
        <i class="fa fa-search modal-icon" ng-show="viewMode === 'READ_MODE_ONLY'"></i>
        <p class="modal-title" ng-show="crudAction === 'EDIT'">Izmjena podataka</p>
        <p class="modal-title" ng-show="crudAction === 'CREATE'">Novi unos</p>
        <p class="modal-title" ng-show="viewMode === 'READ_MODE_ONLY'">Pregled podataka</p>
    </div>
    <form name="memberRegister">
        <div class="modal-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group valid" ng-class="{ 'has-error': memberRegister.name.$invalid }">
                        <label>Naziv</label> <input type="text" ng-disabled="viewMode === 'READ_MODE_ONLY'" name="name" ng-required="true" ng-minlength="1" ng-maxlength="100"  class="form-control" ng-model="data.name">
                        <div class="validation-msg">            
                            <p ng-show="memberRegister.name.$error.required">*Naziv je obavezno polje</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.address.$invalid }">
                        <label>Adresa</label> <input name="address" ng-pattern="/^[A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .]*[A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9][A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .]*$/" type="text" ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.location.address" ng-blur="findCoordinatesForAddress(data.location.address)" ng-autocomplete >
                        <span class="help-block">Primjer unosa: Adresa 99</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.address.$error.pattern">Unesite pravilno adresu</p>
                        </div>
                    </div>
                </div>            
                <div class="col-md-6">
                    <div class="form-group valid" ng-class="{ 'has-error': memberRegister.location.$invalid }">
                        <label>Lokacija</label>  <input name="location" type="text"  ng-disabled="crudAction === 'CREATE' || viewMode === 'READ_MODE_ONLY'" class="form-control" ng-required="true" ng-model="data.location.city">
                    </div>
                    <div class="validation-msg">
                        <p ng-show="memberRegister.location.$error.required">*Lokacija je obavezno polje</p>
                    </div>
                </div>                
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.web.$invalid }">
                        <label>Web</label> 
                        <input type="text" name="web" ng-pattern="/(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})/"  ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.phone2">
                        <span class="help-block">Primjer unosa: www.imestranice.hr</span>
                        <div class="validation-msg" ng-show="memberRegister.web.$error.pattern">
                            <p>Adresa web stranice nije pravilno unešena</p>
                        </div>
                    </div>
                </div>            
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.identificationNumber.$invalid }">
                        <label>Matični broj</label> <input type="text" name="identificationNumber" ng-maxlength="10" ng-pattern="/^[0-9]*$/"  ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.identificationNumber">
                        <span class="help-block">Primjer unosa: 12345678</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.identificationNumber.$error.pattern">Unesite pravilno matični broj</p>
                            <p ng-show="memberRegister.identificationNumber.$error.maxlength && !memberRegister.identificationNumber.$error.pattern">Najveći dopušteni broj znamenki je 10</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="form-group">
                        <label>OIB</label> <input type="text" data-mask="99999999999"  ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.oib">
                        <span class="help-block">Primjer unosa: 12345678901</span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.registerNumber.$invalid }">
                        <label>Registarski broj</label> <input type="text" name="registerNumber" ng-maxlength="10" ng-pattern="/^[0-9]*$/"  ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.registerNumber">
                        <span class="help-block">Primjer unosa: 123456789</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.registerNumber.$error.pattern">Unesite pravilno registarski broj</p>
                            <p ng-show="memberRegister.registerNumber.$error.maxlength && !memberRegister.registerNumber.$error.pattern">Največi dopušteni broj znamenki je 10</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.numberOfNonProfitOrg.$invalid }">
                        <label>Broj iz registra neprofitnih organizacija</label> <input type="text" name="numberOfNonProfitOrg" ng-maxlength="10" ng-pattern="/^[0-9]*$/"  ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.numberOfNonProfitOrg">
                        <span class="help-block">Primjer unosa: 123456789</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.numberOfNonProfitOrg.$error.pattern">Unesite pravilno registarski broj</p>
                            <p ng-show="memberRegister.numberOfNonProfitOrg.$error.maxlength && !memberRegister.numberOfNonProfitOrg.$error.pattern">Največi dopušteni broj znamenki je 10</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.chairman.$invalid }">
                        <label>Predsjednik</label> <input type="text" name="chairman" ng-pattern="/^[A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .-/()-]*[A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .-/()-][A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .-/()-]*$/" ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.chairman">
                        <div class="validation-msg">
                            <p ng-show="memberRegister.chairman.$error.pattern">Unesite pravilno ime osobe</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.secretary.$invalid }">
                        <label>Tajnik</label> <input type="text" name="secretary" ng-pattern="/^[A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .-/()-]*[A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .-/()-][A-Za-z | čćdžđšžljnjČĆDŽĐŠŽLJNJ | 0-9 .-/()-]*$/"  ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.secretary">
                        <div class="validation-msg">
                            <p ng-show="memberRegister.secretary.$error.pattern">Unesite pravilno ime osobe</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="dataFrom">
                        <label>Datum mandata od</label>
                        <div class="input-group date">
                            <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                <input type="datetime" ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" date-time ng-model="data.dateFrom" view="date" auto-close="true" min-view="date">
                            </datepicker>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="dataTo">
                        <label>Datum mandata do</label>
                        <div class="input-group date">
                            <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                <input type="datetime" ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" date-time ng-model="data.dateTo" view="date" auto-close="true" min-view="date">
                            </datepicker>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="registrationDate">
                    <div class="form-group">
                        <label>Datum registriranja kluba</label>
                        <div class="input-group date">
                            <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                <input type="datetime" ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" date-time ng-model="data.registrationDate" view="date" auto-close="true" min-view="date">
                            </datepicker>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Kategorija članstva</label>
                        <ui-select ng-hide="viewMode === 'READ_MODE_ONLY'" ng-model="membershipCategory.selected" theme="bootstrap">
                            <ui-select-match>{{$select.selected.description}}</ui-select-match>
                            <ui-select-choices repeat="membershipCategory in membershipCategories | filter: $select.search">
                                <div ng-bind-html="membershipCategory.description | highlight: $select.search"></div>                            
                            </ui-select-choices>
                        </ui-select>
                        <input type="text"  ng-show="viewMode === 'READ_MODE_ONLY'" ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.membershipCategory.description">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Vrsta sporta</label>
                        <ui-select ng-hide="viewMode === 'READ_MODE_ONLY'" ng-model="sportCategory.selected" theme="bootstrap">
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="sportCategory in sportCategories | filter: $select.search">
                                <div ng-bind-html="sportCategory.name | highlight: $select.search"></div>                            
                            </ui-select-choices>
                        </ui-select>
                        <input type="text"  ng-show="viewMode === 'READ_MODE_ONLY'" ng-disabled="viewMode === 'READ_MODE_ONLY'" class="form-control" ng-model="data.sportCategory.name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.phonesTags.$invalid }">
                        <label>Kontakt broj</label>
                        <tags-input type="text" name="phonesTags" allowed-tags-pattern="^((\d{2,4})/)?((\d{6,8})|(\d{2})-(\d{2})-(\d{2,4})|(\d{3,4})-(\d{3,4}))$" max-length="21" ng-disabled="viewMode === 'READ_MODE_ONLY'" ng-model="data.phonesTags"></tags-input>
                        <span class="help-block">Primjer unosa: 999/9999-999</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.phonesTags.$error.allowedTagsPattern">Unesite pravilno kontakt broj</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.mobilesTags.$invalid }">
                        <label>Broj mobilnog telefona</label>
                        <tags-input type="text" name="mobilesTags" allowed-tags-pattern="^((\d{2,4})/)?((\d{6,8})|(\d{2})-(\d{2})-(\d{2,4})|(\d{3,4})-(\d{3,4}))$" max-length="21" ng-disabled="viewMode === 'READ_MODE_ONLY'" ng-model="data.mobilesTags"></tags-input>
                        <span class="help-block">Primjer unosa: 999/9999-999</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.mobilesTags.$error.allowedTagsPattern">Unesite pravilno broj mobilnog telefona</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.faxesTags.$invalid }">
                        <label>FAX</label>
                        <tags-input type="text" name="faxesTags" allowed-tags-pattern="^((\d{2,4})/)?((\d{6,8})|(\d{2})-(\d{2})-(\d{2,4})|(\d{3,4})-(\d{3,4}))$" max-length="21" ng-disabled="viewMode === 'READ_MODE_ONLY'" ng-model="data.faxesTags"></tags-input>
                        <span class="help-block">Primjer unosa: 999/9999-999</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.faxesTags.$error.allowedTagsPattern">Unesite pravilno broj fax-a</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.bankAccountsTags.$invalid }">
                        <label>Broj računa</label>
                        <tags-input type="text" name="bankAccountsTags" allowed-tags-pattern="^[HR]{2}[0-9]{19}" max-length="21" ng-disabled="viewMode === 'READ_MODE_ONLY'" ng-model="data.bankAccountsTags"></tags-input> <!-- ng-iban="[HR]" -->
                        <span class="help-block">Primjer unosa: HR1524070001100044579 	</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.bankAccountsTags.$error.allowedTagsPattern">Unesite pravilno broj računa</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': memberRegister.email.$invalid }">
                        <label>Elektronička pošta</label>
                        <tags-input type="email"  ng-disabled="viewMode === 'READ_MODE_ONLY'" name="email" allowed-tags-pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" ng-model="data.emailsTags"></tags-input>
                        <span class="help-block">Primjer unosa: imeprezime@gmail.com</span>
                        <div class="validation-msg">
                            <p ng-show="memberRegister.email.$error.pattern">Unesite pravilno elektroničku poštu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
            <button type="button" class="btn btn-primary" ng-disabled="memberRegister.$invalid" ng-show="crudAction === 'EDIT' && viewMode !== 'READ_MODE_ONLY'" ng-click="ok()">Spremi promjene</button>
            <button type="button" class="btn btn-primary" ng-disabled="memberRegister.$invalid" ng-show="crudAction === 'CREATE' && viewMode !== 'READ_MODE_ONLY'" ng-click="ok()">Kreiraj novu stavku</button>
        </div>
    </form>
</div>

