<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-edit modal-icon"></i>
        <p class="modal-title">Izmjena podataka</p>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label>Redni broj</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>

         <div class="form-group">
            <label>Naziv</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
        
          <div class="form-group">
            <label>Adresa</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
          <div class="form-group">
            <label>Lokacija</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
          <div class="form-group">
            <label>Broj telefona 1</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
          <div class="form-group">
            <label>Broj telefona 2</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
          <div class="form-group">
            <label>FAX</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
         <div class="form-group">
            <label>FAX</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
         <div class="form-group">
            <label>Matični broj</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
         <div class="form-group">
            <label>OIB</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
         <div class="form-group">
            <label>Registarski broj</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
         <div class="form-group">
            <label>Broj iz registra neprofitnih organizacija</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
         <div class="form-group">
            <label>Predsjednik</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
         <div class="form-group">
            <label>Tajnik</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
        <div class="input-group date">
            <label>Datum mandata od</label>
                <input class="form-control ng-pristine ng-valid ng-scope ng-not-empty ng-touched" date-time="" ng-model="sampleDate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" type="datetime">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
         <div class="input-group date">
            <label>Datum mandata do</label>
                <input class="form-control ng-pristine ng-valid ng-scope ng-not-empty ng-touched" date-time="" ng-model="sampleDate" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD" type="datetime">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        
         <div class="form-group">
            <label>Datum registriranja kluba</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>
        
          
         <div class="form-group">
            <label>Kategorija članstva</label> <input type="text"  class="form-control" ng-model="data.name">
        </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Spremi promjene</button>
</div>
</div>

