<div class="inmodal">
    <div class="modal-header">        
        <i class="fa fa-edit modal-icon" ng-show="crudAction === 'EDIT'"></i>
        <i class="fa fa-plus-square modal-icon" ng-show="crudAction === 'CREATE'"></i>                
        <p class="modal-title" ng-show="crudAction === 'EDIT'">Izmjena podataka</p>
        <p class="modal-title" ng-show="crudAction === 'CREATE'">Novi unos</p>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label>Naziv</label> <input type="text" placeholder="Upišite naziv" class="form-control" ng-model="data.description">
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Spremi promjene</button>
    </div>
</div>

