<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-edit modal-icon"></i>
        <p class="modal-title">Izmjena podataka</p>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label>Naziv</label> <input type="text" placeholder="Upišite naziv" class="form-control" ng-model="data.name">
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Spremi promjene</button>
    </div>
</div>

