<toaster-container></toaster-container>

<!-- Page breadcrumb -->    
<div ng-include="'views/common/breadcrumb.html'"></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="memberRegisterController">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="row ibox-header">


                        <div class="col-lg-12">
                            <div class="form-group pull-right">
                                <button class="btn btn-primary " type="button" ng-click="createData()"><i class="fa fa-plus"></i>&nbsp;Novi unos</button>
                            </div>

                        </div>
                    </div>
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Naziv</th>
                                <th>Adresa</th>
                                <th>Lokacija</th>
                                <th>Kontakt broj</th>
                                <th>Web</th>
                                <th>FAX</th>
                                <th>Matični broj</th>
                                <th>OIB</th>
                                <th>Registarski broj</th>
                                <th>Broj iz registra neprofitnih organizacija</th>
                                <th>Predsjednik</th>
                                <th>Tajnik</th>
                                <th>Datum mandata od</th>
                                <th>Datum mandata do</th> 
                                <th>Datum registriranja kluba</th> 
                                <th>Kategorija članstva</th> 
                                <th>Broj računa</th> 
                                <th>Elektronička pošta</th> 
                                <th class="not-export-col">promjeni/izbriši</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="memberRegister in memberRegisters">
                                <td>{{ memberRegister.id}}</td>
                                <td>{{ memberRegister.name}}</td>
                                <td>{{ memberRegister.address}}</td>
                                <td>{{ memberRegister.location.name}}</td>
                                <td>{{ memberRegister.phone1}}</td>
                                <td><a ng-href="https://{{ memberRegister.phone2}}" target="_blank">{{ memberRegister.phone2}}</a></td>
                                <td>{{ memberRegister.fax}}</td>
                                <td>{{ memberRegister.identificationNumber}}</td>
                                <td>{{ memberRegister.oib}}</td>
                                <td>{{ memberRegister.registerNumber}}</td>
                                <td>{{ memberRegister.numberOfNonProfitOrg}}</td>
                                <td>{{ memberRegister.chairman}}</td>
                                <td>{{ memberRegister.secretary}}</td>
                                <td>{{ memberRegister.dateFrom}}</td>
                                <td>{{ memberRegister.dateTo}}</td>
                                <td>{{ memberRegister.registrationDate}}</td>
                                <td>{{ memberRegister.membershipCategory.description}}</td>
                                <td>{{ memberRegister.bankAccountsTags}}</td>
                                <td>{{ memberRegister.emailsTags}}</td>
                                <td class="edit-column">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary " ng-click="editData(memberRegister.id)"><i class="fa fa-edit"></i> </button>
                                        <button type="button" class="btn btn-danger " ng-click="deleteData(memberRegister.id)"><i class="fa fa-trash"></i> </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>
