<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Rangiranje i kategorizacija sportova</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Rangiranje i kategorizacija sportova</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                   
                    
                    <div class="ibox-content">
                         <div class="row ibox-header">
                          <div class="col-lg-3">
                        <div class="form-group">
                            <label>Odaberite sport za vrednovanje</label>
                            <select class="form-control m-b" name="account">
                                <option selected>...</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                                <option value="option 4">option 4</option>
                            </select>
                        </div>

                    </div>
                    
                    <div class="col-lg-9">
                        <div class="form-group pull-right">
                           <button class="btn btn-primary " type="button"><i class="fa fa-plus"></i>&nbsp;Novi unos</button>
                            <button class="btn btn-info " type="button"><i class="fa fa-edit"></i> Promjena</button>
                            <button class="btn btn-danger " type="button"><i class="fa fa-trash"></i> Obriši</button>
                            <button class="btn btn-info " type="button"><i class="fa fa-search"></i> Pregled</button>
                        </div>

                    </div>
                        </div>
                        
                        <div class="row">
                            
                            <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Kriterij razvijenosti sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- međunarodna federacija</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> do 100 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 130 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 160 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 190 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> više od 190 </label>
                                    </div>
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Kriterij razvijenosti sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- nacionalni savez </label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> do 75 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 150 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 225 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 300 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> više od 300 </label>
                                    </div>
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Kriterij razvijenosti sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- županijski savez</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> do 5 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 15 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 25 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 35 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> više od 35 </label>
                                    </div>
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Kriterij razvijenosti sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- Grad Zadar</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> do 2 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 5 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 10 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> do 15 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> više od 15 </label>
                                    </div>
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Javni status sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- interes javnosti</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 1</label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 3 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 5 </label>
                                    </div>
        
                                    
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Javni status sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- tradicija sporta u Gradu Zadru</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 1 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 3 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 5 </label>
                                    </div>
                                 
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Javni status sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- olimpijski status sporta</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 0 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 5 </label>
                                    </div>
                                 
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                   Javni status sporta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- važnost za nastavu TZK</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 1 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 3 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 5 </label>
                                    </div>
                                   
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                              <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Sportska kvaliteta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- broj kategoriziranih sportaša</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 0 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 5 </label>
                                    </div>
                                 
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                              <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Sportska kvaliteta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- ostvareni sportski rezultati (RH)</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 1 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 3 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 5 </label>
                                    </div>
                                   
                                   
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                           
                            <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Sportska kvaliteta
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <label class="m-b">- ostvareni sportski rezultati (GZD)</label>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.checkFour"> 1 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 3 </label>
                                    </div>
                                    <div>
                                        <label>
                                            <input icheck type="radio" name="radioTest" ng-model="main.check8"> 5 </label>
                                    </div>
                                   
                                   
                                    <span class="badge badge-primary">Bodovi : 0</span>
                                </div>

                                </div>

                            </div>
                        </div>
                            
                             <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>Ukupni bodovi :</h3>
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                    <span class="badge badge-info">  <h3>Bodovi : 0</h3></span>
                                    
                                </div>

                                </div>

                            </div>
                        </div>
                          
                        </div>
                    </div>
                </div>
                
         
            </div>

        </div>

    </div>