<div class="inmodal">
    <div class="modal-header">        
        <i class="fa fa-edit modal-icon" ng-show="crudAction === 'EDIT'"></i>
        <i class="fa fa-plus-square modal-icon" ng-show="crudAction === 'CREATE'"></i>                
        <p class="modal-title" ng-show="crudAction === 'EDIT'">Izmjena podataka</p>
        <p class="modal-title" ng-show="crudAction === 'CREATE'">Novi unos</p>
    </div>
    <div class="modal-body">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Kriterij razvijenosti sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in criterionOfSportDevelopmentInternationalFederation">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}}
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Kriterij razvijenosti sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in criterionOfSportNationalAlliance">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Kriterij razvijenosti sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in criterionOfSportCountyAlliance">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Kriterij razvijenosti sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in criterionOfSportCityOfZadar">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Javni status sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in publicInterestOfSportPublicInterest">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Javni status sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in publicInterestOfSportTownZadar">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Javni status sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in publicInterestOfSportOlympicStatus">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Javni status sporta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in publicInterestOfSportImportanceForTeachingTzk">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Sportska kvaliteta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in sportsQualityNumbeOfCategorizedAthletes">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Sportska kvaliteta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in sportsQualityAchievedSportsResultsInCroatia">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Sportska kvaliteta
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" ng-repeat="evaluationQuestion in sportsQualityAchievedSportsResultsInTownZadar">
                                            <label class="m-b">{{evaluationQuestion.questionDef.label}}</label>
                                            <div ng-repeat="item in evaluationQuestion.questionDef.items">
                                                <label ng-init="answers[evaluationQuestion.questionDef.question] = evaluationQuestion.questionDef.initValue.answer.id">
                                                    <input icheck type="radio" name="{{evaluationQuestion.question.question}}" ng-model="answers[evaluationQuestion.questionDef.question]" ng-change="calculateTotal(evaluationQuestion.questionDef.question)" ng-value="item.id"/> {{item.label}} 
                                                </label>
                                            </div>
                                            <span class="badge badge-primary">Bodovi : {{points[evaluationQuestion.questionDef.question]}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Ukupni bodovi :</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <span class="badge badge-info">  <h3>Bodovi : {{rankingSum}}</h3></span>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Spremi promjene</button>
    </div>
</div>