<toaster-container></toaster-container>

<!-- Page breadcrumb -->    
<div ng-include="'views/common/breadcrumb.html'"></div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="rankingAndCategorizationOfSportsController">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Klub</th>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br> Međunarodna federacija</td>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br>Nacionalni savez</td>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br>županijski savez</td>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br>Grad Zadar</td>
                                <td><strong>Javni status sporta</strong> <br><br>Interes javnosti</td>
                                <td><strong>Javni status sporta</strong> <br><br>Tradicija sporta u Gradu Zadru</td>
                                <td><strong>Javni status sporta</strong> <br><br>Olimpijski status sporta</td>
                                <td><strong>Javni status sporta</strong> <br><br>Važnost za nastavu TZK</td>
                                <td><strong>Sportska kvaliteta</strong> <br><br>Broj kategoriziranih sportaša</td>
                                <td><strong>Sportska kvaliteta</strong> <br><br>Ostvareni sportski rezultati (RH)</td>
                                <td><strong>Sportska kvaliteta</strong> <br><br>Ostvareni sportski rezultati (GZD)</td>
                                <td><strong>Ispunjeno</strong></td>
                                <td><strong>UKUPNI BODOVI</strong></td>
                                <th>promjeni/izbriši</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rankingAndCategorizationOfSport in rankingAndCategorizationOfSports">
                                <td>{{rankingAndCategorizationOfSport.id}}</td>
                                <td>{{rankingAndCategorizationOfSport.name}}</td>
                                <td>{{rankingAndCategorizationOfSport.criterionOfSportInternationalFederation}}</td>
                                <td>{{rankingAndCategorizationOfSport.criterionOfSportNationalAlliance}}</td>
                                <td>{{rankingAndCategorizationOfSport.criterionOfSportCountyAlliance}}</td>
                                <td>{{rankingAndCategorizationOfSport.criterionOfSportCityOfZadar}}</td>
                                <td>{{rankingAndCategorizationOfSport.sportStatusOfPublicInterest}}</td>
                                <td>{{rankingAndCategorizationOfSport.sportStatusTownZadar}}</td>
                                <td>{{rankingAndCategorizationOfSport.olympicSportsStatus}}</td>
                                <td>{{rankingAndCategorizationOfSport.importanceForTeachingTzk}}</td>
                                <td>{{rankingAndCategorizationOfSport.sportsQualityNumberOfCategorizedAthletes}}</td>
                                <td>{{rankingAndCategorizationOfSport.sportsQualityAccomplishedSportsResultsCroatia}}</td>
                                <td>{{rankingAndCategorizationOfSport.sportsQualityAccomplishedSportsResultsTownOfZadar}}</td>
                                <td>{{rankingAndCategorizationOfSport.questionnairePercentage}}%</td>
                                <td>{{rankingAndCategorizationOfSport.totalPoints}}</td>
                                <td class="edit-column">
                                    <button type="button" class="btn btn-primary " ng-click="editData(rankingAndCategorizationOfSport.id)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" class="btn btn-danger " ng-click="deleteData(rankingAndCategorizationOfSport.id)"><i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
