<toaster-container></toaster-container>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Rangiranje i kategorizacija sportova</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>

            <li class="active">
                <strong>Rangiranje i kategorizacija sportova</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="evaluationController">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="row ibox-header">


                        <div class="col-lg-12">
                            <div class="form-group pull-right">
                                <button class="btn btn-primary " type="button" ng-click="createData()"><i class="fa fa-plus"></i>&nbsp;Novi unos</button>
                            </div>

                        </div>
                    </div>

                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>RB</th>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br> Međunarodna federacija</td>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br>Nacionalni savez</td>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br>županijski savez</td>
                                <td><strong>Kriterij razvijenosti sporta</strong> <br><br>Grad Zadar</td>
                                <td><strong>Javni status sporta</strong> <br><br>Interes javnosti</td>
                                <td><strong>Javni status sporta</strong> <br><br>Tradicija sporta u Gradu Zadru</td>
                                <td><strong>Javni status sporta</strong> <br><br>Olimpijski status sporta</td>
                                <td><strong>Javni status sporta</strong> <br><br>Važnost za nastavu TZK</td>
                                <td><strong>Sportska kvaliteta</strong> <br><br>Broj kategoriziranih sportaša</td>
                                <td><strong>Sportska kvaliteta</strong> <br><br>Ostvareni sportski rezultati (RH)</td>
                                <td><strong>Sportska kvaliteta</strong> <br><br>Ostvareni sportski rezultati (GZD)</td>
                                <td><strong>UKUPNI BODOVI</strong></td>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sport in sports">
                                <td>{{sport.id}}</td>
                                <td>{{sport.name}}</td>
                                <td>{{sport.nationalSportsFederation}}</td>
                                <td>{{sport.internationalFederation}}</td>
                                <td>{{sport.iocSportAccord}}</td>
                                <td class="edit-column">
                                    <button type="button" class="btn btn-primary " ng-click="editData(sport.id)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" class="btn btn-danger " ng-click="deleteData(sport.id)"><i class="fa fa-trash"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
