<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-edit modal-icon"></i>
        <p class="modal-title">Izmjena podataka</p>
     </div>
    <div class="modal-body">
      
        <div class="form-group">
            
                <label>Naziv</label> <input type="text" placeholder="Enter your email" class="form-control" ng-model="data.email">
      </div>
        
         <div class="form-group">
            
                <label>Nacionalni sportski savez</label> <input type="text" placeholder="Enter your email" class="form-control" ng-model="data.email">
      </div>
        
         <div class="form-group">
            
                <label>Međunarodna federacija</label> <input type="text" placeholder="Enter your email" class="form-control" ng-model="data.email">
      </div>
        
         <div class="form-group">
            
                <label>Priznati od IOC-a, članovi SPORTACCORD-a</label> <input type="text" placeholder="Enter your email" class="form-control" ng-model="data.email">
      </div>
        
          
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Spremi promjene</button>
    </div>
</div>

