<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-edit modal-icon" ng-show="crudAction === 'EDIT'"></i>
        <i class="fa fa-plus-square modal-icon" ng-show="crudAction === 'CREATE'"></i>                
        <p class="modal-title" ng-show="crudAction === 'EDIT'">Izmjena podataka</p>
        <p class="modal-title" ng-show="crudAction === 'CREATE'">Novi unos</p>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label>Naziv</label> <input type="text" placeholder="Upišite naziv" class="form-control" ng-model="data.name">
        </div>

        <div class="form-group">
            <label>Nacionalni sportski savez</label>
            <tags-input ng-model="data.nationalSportsFederations"></tags-input>
        </div>

        <div class="form-group">
            <label>Međunarodna federacija</label>
            <tags-input ng-model="data.internationalFederations"></tags-input>
        </div>

        <div class="form-group">
            <label>Priznati od IOC-a, članovi SPORTACCORD-a</label>
            <tags-input ng-model="data.iocSportAccords"></tags-input>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Zatvori</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Spremi promjene</button>
    </div>
</div>

