/*

Customize css

*/

.modal-body .valid {
    position: relative;
}

.validation-msg p {
    color: red;
    position: absolute;
    right: 5px;
    top: 3px;
}

.k-m-b {
    margin-bottom: 28px;
}

.page-heading {
    border-top: 0 none;
    padding: 0 10px 2px;
}

.btn-primary {
    background-color: #2BAAE2;
    border-color: #2BAAE2;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
    background-color: #2BAAE2;
    border-color: #2BAAE2;
    color: #ffffff;
}

.nav > li.active {
    background: #293846 none repeat scroll 0 0;
    border-left: 4px solid #2BAAE2;
}

tags-input .tags .tag-item {
    background-color: #8092a1 !important;

}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #2BAAE2;
    border-color: #2BAAE2;
}

/************************
        ibox
************************/

.ibox-header {
    border-bottom: 1px solid  #e7eaec;
    margin-bottom: 15px;
}

/************************
        login
************************/

.login-logo {
    text-align: center;
}

.login-logo img {
    margin: 55px 0;
    max-width: 300px;
}

.sidebar-logo {
    margin-bottom: 34px;
    margin-top: 11px;
    max-width: 131px;
}

.logo-icon {
    max-width: 35px;
}

.nav-header {
    background-color: #2f4050;
    background-image: url("patterns/header-profile.png");
    padding: 20px 25px 33px;
}

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background:url(../img/logo-bg.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html {
    background: rgba(40, 57, 101, 0.9) none repeat scroll 0 0;
    height: 100%;
    padding: 10px 70px 50px;
    position: absolute;
    width: 100%;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
    margin-top: 15px;
}

.login-form a {
    color: #29ABE2;

}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label {
    background: transparent none repeat scroll 0 0;
    color: #aaa;
    font-size: 12px;
}
.login-form .group .button{
    background:#1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}

/************************
        datatable 
************************/

table td.edit-column {
    width: 100px;
    text-align: center;
}

table.dataTable {
    border-collapse: separate;
    clear: both;
    margin-bottom: 6px;
    margin-top: 6px;
    max-width: none;
    width: 100% !important;
}


table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    background-color: #778a99 !important;
    border: 2px solid white !important;
    border-radius: 14px;
    box-shadow: none !important;
    box-sizing: content-box;
    color: white;
    content: "+";
    display: block;
    font-family: "Courier New",Courier,monospace;
    height: 14px;
    left: 9px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 14px;
}


table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
    background-color: #d33333 !important;
    content: "-";
}

table.dataTable .green-shortinfo {
    color: #1ab394;

}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    background: #778a99 none repeat scroll 0 0;
    color: #fff;
}

table.dataTable thead .sorting::after {
    color: #fff;
    content: "î…";
    opacity: 0.8 !important;
}

/*table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 0 !important;
}*/


.html5buttons a {
    box-shadow: none;
    font-size: 12px;
    padding: 6px 12px;
    background-color: #fff;
    color: #676a6c;
    margin: 0;
}

/*
Pagination
*/

.pagination > li > a, .pagination > li > span {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #2BAAE2;
    border-color: #2BAAE2;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: #fff;
    border-color: #ddd;
    color: #ddd;
    cursor: not-allowed;
}

/************************
        modal
************************/

.modal-body span{
    font-size: 13px;
}

.modal-xlg {
    width: 1200px;
}

.inmodal .modal-icon {
    color: #e2e3e3;
    font-size: 50px;
}

/*
 modal - memberRegister
*/

.memberRegisterModal {
    width: 700px;

}

/*********************
    Leaflet legend
**********************/
.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.red-percentage {
    color: red; 
}

.green-percentage {
    color: green;
}

.yellow-percentage {
    color: yellow;
}

.orange-percentage {
    color: orange;
}

.darkorange-percentage {
    color: darkorange
}

.blue-percentage {
    color: blue;
}

/******************************
Datepicker - customize
******************************/

._720kb-datepicker-calendar-header {
    font-size: 15px;
    line-height: 33px !important;
    text-align: center;
}

._720kb-datepicker-calendar-header a, ._720kb-datepicker-calendar-header a:hover {
    border-radius: 3px;
    color: rgba(255, 255, 255, 1) !important;
    font-size: 13.5px;
    font-weight: bold;
    padding: 3% 9% 4%;
    text-decoration: none;
}

._720kb-datepicker-calendar-month span {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 13px;
}

._720kb-datepicker-calendar-day:hover, ._720kb-datepicker-calendar-day._720kb-datepicker-active {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0 !important;
}

/******************************
Location
******************************/

.adp-summary {
    padding: 0 3px 3px;
    font-size: 18px;
}

/*#dir-container {
    width: 560px;
    float:left;
}*/

/*#map-container {
    width: 560px;
    height: 600px;
}*/

#map-container{
    position: relative;
    width: 50%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
#map-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*
datatable grid control
*/

.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}

.pdf-toolbar {
    margin: 0 auto;
    max-width: 655px !important;
}
